<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../partials/header.ejs") %>
</head>

<body>
    <%- include ("../partials/nav.ejs") %>
    
        <div class="top">
            <!--  -->
        </div>

        <!-- Row1's Products -->
        <div class="row mt-5">
            <div class="col-1">
            </div>
            <div class="col-2">
                <div class="Box middle">
                    <img class="img-fluid"
                        src="assets/img/snack/Lay Miengkam.png" alt="">
                </div>
            </div>

            <div class="col-2">
                <div class="Box middle">
                    <img class="img-fluid"
                        src="assets/img/snack/Chicken Grill.png"
                        alt="">
                </div>
            </div>

            <div class="col-2">
                <div class="Box middle">
                    <img class="img-fluid"
                        src="assets/img/snack/Tawan.png"
                        alt="">
                </div>
            </div>

            <div class="col-2">
                <div class="Box middle">
                    <img class="img-fluid"
                        src="assets/img/snack/Hanami.png"
                        alt="">
                </div>
            </div>
            <div class="col-2">
                <div class="Box middle">
                    <img class="img-fluid"
                        src="assets/img/Chicken Grill.png"
                        alt="">
                </div>
            </div>
            <div class="col-1">

            </div>
        </div>

        <!-- Buttons minus and plus in input -->
        <div class="row mt-5">
            <div class="col-1">
            </div>
            <div class="col-2">
                <input class="minusPlus" type="number" value="<%= value2 %>">
            </div>
            <div class="col-2">
                <input class="minusPlus" type="number" value="1">
            </div>
            <div class="col-2">
                <input class="minusPlus" type="number" value="1">
            </div>
            <div class="col-2">
                <input class="minusPlus" type="number" value="1">
            </div>
            <div class="col-2">
                <input class="minusPlus" type="number" value="1">
            </div>
            <div class="col-1">

            </div>
        </div>

        </div>
        <!-- Row2's Products -->
        <div class="row mt-5">
            <div class="col-1">
            </div>
            <div class="col-2">
                <div class="Box middle">
                    <img class="img-fluid"
                        src="assets/img/Chicken Grill.png"
                        alt="">
                </div>
            </div>

            <div class="col-2">
                <div class="Box middle">
                    <img class="img-fluid"
                        src="assets/img/Chicken Grill.png"
                        alt="">
                </div>
            </div>

            <div class="col-2">
                <div class="Box middle">
                    <img class="img-fluid"
                        src="assets/img/Chicken Grill.png"
                        alt="">
                </div>
            </div>

            <div class="col-2">
                <div class="Box middle">
                    <img class="img-fluid"
                        src="assets/img/Chicken Grill.png"
                        alt="">
                </div>
            </div>
            <div class="col-2">
                <div class="Box middle">
                    <img class="img-fluid"
                        src="assets/img/Chicken Grill.png"
                        alt="">
                </div>
            </div>
            <div class="col-1">

            </div>
        </div>

        <!-- Buttons minus and plus in input -->
        <div class="row mt-5">
            <div class="col-1">
            </div>
            <div class="col-2">
                <input class="minusPlus" type="number" value="1">
            </div>
            <div class="col-2">
                <input class="minusPlus" type="number" value="1">
            </div>
            <div class="col-2">
                <input class="minusPlus" type="number" value="1">
            </div>
            <div class="col-2">
                <input class="minusPlus" type="number" value="1">
            </div>
            <div class="col-2">
                <input class="minusPlus" type="number" value="1">
            </div>
            <div class="col-1">

            </div>
        </div>
</body>

</html>